div section.filters{
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
div.container section.filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 12px 30px;
}
/*change opacity to 90% when the mouse is on the button*/
.filters button:hover{
    background-color: rgba(255, 90, 95, .9);
}